<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static '/e-commerce/css/home.css' %}">
        <meta charset='utf-8'>
        <title>{% block titulo_pag %}Inicio{% endblock %}</title>
    </head>
    <body>
        <header>
            {% include "e-commerce/bar.html" %}
        </header>
        <h1>{% block title %}Welcome {{ username }}{% endblock %}</h1>
        {% block content %}
            <div class="content">
                <img src="{% static 'e-commerce/img/marvel.svg' %}">
            </div>
        {% endblock %}
    </body>
</html>